// app global css in SCSS form
.light-theme {
  color: black !important;
}

.light-theme .bg-layout-1 {
  background-color: $layout-light-1;
}
.light-theme .bg-layout-2 {
  background-color: $layout-light-2;
}
.light-theme .bg-layout-3 {
  background-color: $layout-light-3;
}
.light-theme .bg-layout-4 {
  background-color: $layout-light-4;
}

.light-theme .contrast {
  color: rgb(209, 209, 209);
}
.light-theme .contrast .contrast-text {
  color: rgb(209, 209, 209);
}
.light-theme .contrast .bg-layout-1 {
  background-color: $layout-dark-1;
}
.light-theme .contrast .bg-layout-2{
  background-color: $layout-dark-2;
}

.dark-theme {
  color: rgb(209, 209, 209);
}

.dark-theme .bg-layout-1 {
  background-color: $layout-dark-1;
}
.dark-theme .bg-layout-2 {
  background-color: $layout-dark-2;
}
.dark-theme .bg-layout-3 {
  background-color: $layout-dark-3;
}
.dark-theme .bg-layout-4 {
  background-color: $layout-dark-4;
}

.dark-theme .contrast {
  color: black;
}
.dark-theme .contrast .contrast-text {
  color: black;
}
.dark-theme .contrast .bg-layout-1 {
  background-color: $layout-light-1;
}
.dark-theme .contrast .bg-layout-2 {
  background-color: $layout-light-3;
}
