// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #f6d4fe;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$layout-dark-4: hsla(220, 8%, 23%, 1);
$layout-dark-3: hsla(220, 4%, 27%, 1);
$layout-dark-2: hsla(220, 2%, 31%, 1);
$layout-dark-1: hsla(0, 0%, 35%, 1);

// $layout-light-1: hsla(312, 100%, 99%, 1);
// $layout-light-2: hsla(312, 100%, 99%, 1);
// $layout-light-3: hsla(300, 100%, 100%, 1);
// $layout-light-4: hsla(0, 0%, 100%, 1);

$layout-light-4: hsla(300, 5%, 96%, 1);
$layout-light-3: hsla(0, 0%, 97%, 1);
$layout-light-2: hsla(300, 14%, 99%, 1);
$layout-light-1: hsla(0, 0%, 100%, 1);

$alert-ball-color: white;

